{% extends 'blog/base.html' %}
{% load static %}
{% load shop_tags %}

{%  block style_css %}
    <link type = "text/css", href="{% static 'shop/css/main_shop_style.css' %}"
          rel="stylesheet"/>
{% endblock %}


{%  block main_content %}

<p1 class="span">Демонстрационный сайт интернет магазина</p1>
<div id='title_shop' class="title_shop" style="background: url('{% static 'shop/images/header_shop.png' %}')">
</div>
<div class="form_conteiner">

  <p class="text-massege">Для восстановления пароля, пожалуйста, отправьте
      зарегистрированную почту.<br>

  <form action="." method="post">
      {% for f in form %}
      <p><label class="" for="{{ f.id_for_label }}"><!--{{ f.label }}!--></label>{{ f }}</p>
      <div class="form-error">{{ f.errors }}</div>
      {% endfor %}
   <p><input class="submite-registration" type="submit" value="Отправить
   email"></p>
   {% csrf_token %}
  </form>

</div>
{% endblock %}

{% block sidebar %}

    <h2 class="new-title">Войти</h2>
    {% if request.user.is_authenticated %}
        <p> Добрый день {{ user.name }}! </p>
        <a href="{% url 'logout_test' %}"  class="enter">Выйти</a>
    {% else %}
        <a href="{% url 'login_test' %}" class="enter">Войти</a>
        <a href="{% url 'register' %}" class="fogot_password">Регистрация</a>
    {% endif %}
{% endblock %}