{% extends 'blog/base.html' %}
{% load static %}
{% load shop_tags %}

{%  block style_css %}
    <link type = "text/css", href="{% static 'shop/css/main_shop_style.css' %}"
          rel="stylesheet"/>
{% endblock %}


{% block main_content %}

    <p1 class="span">Демонстрационный сайт интернет магазина</p1>
    <div id='title_shop' class="title_shop" style="background: url('{% static 'shop/images/header_shop.png' %}')"></div>
    <h1>Сбросьте свой пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите свой пароль дважды:</p>
        <form action="." method="post">
            {% csrf_token %}
            {% for f in form %}
            <p><label class="" for="{{ f.id_for_label }}"><!--{{ f.label }}!--></label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
           {% csrf_token %}
            <p><input type="submit" class="submite-registration" value="Изменить пароль" /></p>
        </form>

    {% else %}
        <p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}


{% block sidebar %}

    {% if request.user.is_authenticated %}
        <h2 class="new-title"> Добрый день {{ user.name }}! </h2>
        <a href="{% url 'logout' %}"  class="enter">Моя корзина</a>
        <a href="{% url 'logout' %}"  class="fogot_password">Выйти</a>
    {% else %}
        <h2 class="new-title"> Войти</h2>
        <a href="{% url 'login' %}" class="enter">Войти</a>
        <a href="{% url 'register' %}" class="fogot_password">Регистрация</a>
        <a href="{% url 'password_reset' %}" class="fogot_password">Вспомнить
        пароль</a>
    {% endif %}

{% endblock %}