{% extends 'blog/base.html' %}
{% load static %}
{% load shop_tags %}

{%  block style_css %}
    <link type = "text/css", href="{% static 'shop/css/main_shop_style.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'shop/js/popup.js' %}"></script>
{% endblock %}


{%  block main_content %}

<p1 class="span">Демонстрационный сайт интернет магазина</p1>
<div id='title_shop' class="title_shop" style="background: url('{% static 'shop/images/header_shop.png' %}')">
</div>
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the
address you registered with.</p>


{% endblock %}

{% block sidebar %}

    {% if request.user.is_authenticated %}
        <h2 class="new-title"> Добрый день {{ user.name }}! </h2>

        <button id="open-modal-btn" class="enter">Моя корзина</button>
        <script>
          var make_order_url = "{% url 'make_order' %}";
          // использовать переменную make_order_url для создания ссылки
        </script>
        <div id="modal" class="show">
          <div id="modal-content" class="modal-content" style="background:
          url('{% static 'shop/images/popup_background2.png' %}'")>
            <span id="close-modal-btn">&times;</span>
              <div class="cart" id="cart">
                <div id="cart-items"></div>
              </div>
          </div>
        </div>
        <a href="{% url 'logout_test' %}"  class="fogot_password">Выйти</a>
    {% else %}
        <h2 class="new-title"> Войти</h2>
        <a href="{% url 'login_test' %}" class="enter">Войти</a>
        <a href="{% url 'register' %}" class="fogot_password">Регистрация</a>
        <a href="{% url 'password_reset' %}" class="fogot_password">Вспомнить
        пароль</a>
    {% endif %}

{% endblock %}

