{% extends 'blog/base.html' %}
<!-- для расширения подгрузки базового шаблона !-->
{% load static %}
{% load shop_tags %}


{%  block style_css %}
    <link type = "text/css", href="{% static 'shop/css/main_shop_style.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'shop/js/popup.js' %}"></script>
    <script src="{% static 'shop/js/run_for_image_product.js' %}"></script>
    <script src="{% static 'shop/js/set_param.js' %}"></script>
    <script src="{% static 'shop/js/logout_site.js' %}"></script>
    <script src="{% static 'shop/js/get_status.js' %}"></script>
{% endblock %}


{% block main_content %}
<span class="span">Демонстрационный сайт интернет магазина</span>
  <div id="main-conteiner" class="main_conteiner">
    <div id='title_shop' class="title_shop" style="background: url('{% static 'shop/images/header_shop.png' %}')">

    </div>
    <div id="product-conteiner" class="product-conteiner">


     <div class="slider">
      <div class="slides">
        <img src="{{ image_urls.0 }}" width="250" alt="{{ product.title }}">
      </div>
        {% for image_url in image_urls|slice:"1:" %}
          <div class="slides">
            <img src="{{ image_url }}" max-width="250" alt="{{ product.title }}">
          </div>
        {% endfor %}
        <div class="arrows">
          <span class="prev-arrow">&lt;</span>
          <span class="next-arrow">&gt;</span>
        </div>
     </div>

      <div class="about-product">
        <p2 id="main_photo_product" class="disp_none">{{ image_urls.0 }}</p2>
        <p2 id="name_product" class="disp_none">{{ product.title }}</p2>
        <p2 id="product_id" class="disp_none">{{ product.product_id }}</p2>
        <div class="description">
          <p3 class="description-product">{{ product.description }}</p3>
          <div class="params-product">
              <button id="select-btn" class="choce-param">Выберите цвет</button>
              <ul id="select-options-1" class="select_options">
                  {% for color in colors %}
                  <li data-value="{{ color.color }}" class="select-color">
                      {{ color.color }}</li>
                  {% endfor %}
              </ul>
              <button id="select-btn2" class="choce-param">Выберите
                  размер</button>
              <ul id="select-options-2" class="select_options">
                   <li data-value="" class="select_size">Сначала выберите цвет
                   </li>
              </ul>
          </div>
        </div>
        <br>
        <p3 class="price-product" id="price_product">{{ product.price }} руб.</p3>
        </br>
        <br>
          <button type="submite" id="add_in_cart" class="submit-buy">В
              корзину</button>
        </br>
      </div>
    </div>
  <!-- include tag 'show_all_categories' !-->
    {% show_all_categories %}

  </div>
{%  endblock %}

{%  block sidebar %}
    <section class="section">
    {% if request.user.is_authenticated %}
        <h2 class="new-title"> Добрый день {{ user.name }}! </h2>
        <button id="open-modal-btn" class="enter">Моя корзина</button>
        <a href="{% url 'logout_test' %}" id="logout_site" class="fogot_password">Выйти</a>
        <script>
          var make_order_url = "{% url 'make_order' %}";
          // использовать переменную make_order_url для создания ссылки
        </script>
        <div id="modal" class="show">
          <div id="modal-content" class="modal-content" style="background:
          url('{% static 'shop/images/popup_background2.png' %}'")>
            <span id="close-modal-btn">&times;</span>
              <div class="cart" id="cart">
                <div id="cart-items"></div>
              </div>
          </div>
        </div>
        <div id="modal2" class="show">
          <div id="modal-content2" class="modal-content" style="background:
          url('{% static 'shop/images/popup_background2.png' %}'")>
            <span id="close-modal-btn2">&times;</span>
              <div class="cart" id="cart2">
                <div id="cart-items2"></div>
              </div>
          </div>
        </div>
    {% else %}
        <h2 class="new-title"> Войти</h2>
        <a href="{% url 'login_test' %}" class="enter">Войти</a>
        <a href="{% url 'register' %}" class="fogot_password">Регистрация</a>
        <a href="{% url 'password_reset' %}" class="fogot_password">Вспомнить
        пароль</a>
    {% endif %}


{% endblock %}

