{% extends 'blog/base.html' %}
{% load static %}
{% load shop_tags %}


{%  block style_css %}
    <link type = "text/css", href="{% static 'shop/css/main_shop_style.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'shop/js/popup.js' %}"></script>
    <script src="{% static 'shop/js/logout_site.js' %}"></script>
    <script src="{% static 'shop/js/get_status.js' %}"></script>

{% endblock %}


{%  block main_content %}
<p1 class="span">Демонстрационный сайт интернет магазина</p1>
<div id='title_shop' class="title_shop" style="background: url('{% static 'shop/images/header_shop.png' %}')">

</div>
<div class="main_conteiner">
    {% get_categories as categories %}
    {% for category in categories %}
        <div id="category_container" class="category-conteiner">
            <img src="{{ category.link_icons.url }}" class="img-content" alt="{{ category.name_category }}">
            <a href="{{ category.get_absolute_url }}"
               class="category_title">{{ category.name_category }} </a>
        </div>
        {% endfor %}
</div>

{% endblock %}


{% block sidebar %}


    {% if request.user.is_authenticated %}
        <h2 class="new-title"> Добрый день, {{ user.name }}! </h2>
        <button id="open-modal-btn" class="enter">Моя корзина</button>
        <button id="open-modal-btn2" class="enter">Мои заказы</button>
        <a href="{% url 'logout_test' %}"  class="fogot_password"
           id="logout_site">Выйти</a>
        <script>
          var make_order_url = "{% url 'make_order' %}";
          // использовать переменную make_order_url для создания ссылки
        </script>
        <div id="modal" class="show">
          <div id="modal-content" class="modal-content" style="background:
          url('{% static 'shop/images/popup_background2.png' %}'")>
            <span id="close-modal-btn">&times;</span>
              <div class="cart" id="cart">
                <div id="cart-items"></div>
              </div>
          </div>
        </div>
        <div id="modal2" class="show">
          <div id="modal-content2" class="modal-content" style="background:
          url('{% static 'shop/images/popup_background2.png' %}'")>
            <span id="close-modal-btn2">&times;</span>
              <div class="cart" id="cart2">
                <div id="cart-items2"></div>
              </div>
          </div>
        </div>
    {% else %}
        <h2 class="new-title"> Войти</h2>
        <a href="{% url 'login_test' %}" class="enter">Войти</a>
        <a href="{% url 'register' %}" class="fogot_password">Регистрация</a>
        <a href="{% url 'password_reset' %}" class="fogot_password">Вспомнить
        пароль</a>
    {% endif %}




    <!--<div id="popup" class="popup">
      <a href="#header" class="popup_area"></a>
      <div class="popup_body">
        <div class="popup_content">
          <a href="#header" class="popup_close">X</a>
          <div class="popup_title">
            <form class="form-reg" action="server???">
              <label for="registration">
                <span class="visually-hidden">Поле для регистрации на сайте, введите свою электронную почту</span>
                <input type="text" required class="feild-reg" placeholder="Имя">
                 <input type="tel" required class="feild-reg" placeholder="Телефон">
                <input type="email" id="mail" required class="feild-reg" placeholder="Логин (e-mail)">
                <input type="password" id="password" required class="feild-reg" placeholder="Пароль">
              </label>
              <button type="submite" class="submite-registration">Регистрация</button>
            </form>
            <div class="popup_text">    </div>
          </div>
        </div>
      </div>
    </div>
    <script src="popup.js"></script>!-->
{% endblock %}




